FileSilverlightApplication/Service References/FileServiceReference/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58027/Services/FileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58027/Services/FileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58027/Services/FileService.svc?xsd=xsd3" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://localhost:58027/Services/FileService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IFileService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileRequest">
    <wsdl:part name="parameters" element="tns:UploadFileRequest" />
  </wsdl:message>
  <wsdl:message name="UploadFileRequest_Headers">
    <wsdl:part xmlns:q1="http://tempuri.org" name="FileName" element="q1:FileName" />
    <wsdl:part xmlns:q2="http://tempuri.org" name="IdEntrepreneur" element="q2:IdEntrepreneur" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFile_OutputMessage" />
  <wsdl:message name="IFileService_UploadStream_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadStream" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/DoWork" message="tns:IFileService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/DoWorkResponse" message="tns:IFileService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UploadFile" name="UploadFileRequest" message="tns:UploadFileRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UploadFileResponse" message="tns:IFileService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UploadStream" message="tns:IFileService_UploadStream_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IFileService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/UploadFile" style="document" />
      <wsdl:input name="UploadFileRequest">
        <soap:header message="tns:UploadFileRequest_Headers" part="FileName" use="literal" />
        <soap:header message="tns:UploadFileRequest_Headers" part="IdEntrepreneur" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadStream">
      <soap:operation soapAction="http://tempuri.org/IFileService/UploadStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://localhost:58027/Services/FileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>